<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="ActMapper">

	<resultMap id="userSelectMap" type="com.destiny.service.domain.User">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 		column="password" 			jdbcType="VARCHAR" />
		<result property="nickName"			column="nick_name" 			jdbcType="VARCHAR" />
		<result property="userGrade"		column="user_grade" 		jdbcType="VARCHAR"/>
		<result property="email" 			column="email" 				jdbcType="VARCHAR" />
		<result property="birthday" 		column="birthday" 			jdbcType="DATE" />
		<result property="address" 			column="address" 			jdbcType="VARCHAR" />
		<result property="profile" 			column="profile_img" 		jdbcType="VARCHAR" />
		<result property="gender" 			column="gender" 			jdbcType="CHAR" />
		<result property="phone" 			column="phone" 				jdbcType="VARCHAR" />
		<result property="attendCount" 		column="attend_count" 		jdbcType="INTEGER" />
		<result property="lastLoginDay" 	column="last_login_day" 	jdbcType="DATE" />
		<result property="warningCount" 	column="warning_count" 		jdbcType="INTEGER" />
		<result property="myType" 			column="my_type" 			jdbcType="NUMERIC" />
		<result property="firstType" 		column="first_type" 		jdbcType="NUMERIC" />
		<result property="secondType" 		column="second_type" 		jdbcType="NUMERIC" />
		<result property="thirdType" 		column="thrid_type" 		jdbcType="NUMERIC" />
		<result property="firstInterest" 	column="first_interest" 	jdbcType="NUMERIC" />
		<result property="secondInterest" 	column="second_interest" 	jdbcType="NUMERIC" />
		<result property="thirdInterest" 	column="third_interest" 	jdbcType="NUMERIC" />		
		<result property="userState" 		column="user_state" 		jdbcType="CHAR"/>	
	</resultMap>
	
	<resultMap id="locationSelectMap" type="com.destiny.service.domain.Location">
		<result property="locationNo" column="location_no" jdbcType="INTEGER"/>
		<result property="cityName" column="city_name" jdbcType="VARCHAR"/>
		<result property="townName" column="town_name" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="meetingSelectMap" type="com.destiny.service.domain.Meeting">
		<result property="meetingNo" 			column="meeting_no" 		jdbcType="NUMERIC"/>	<!-- 모임번호 -->
		<result property="role" 				column="role" 				jdbcType="VARCHAR" />	<!-- 역활 MST:모임장 MEM:모임원 -->
		<result property="meetingMasterId"		column="meeting_master_id" 	jdbcType="VARCHAR" />	<!-- 아이디 -->
		<result property="masterProfileImg"		column="master_profile_img" jdbcType="VARCHAR" />	<!-- 프로필 -->
		<result property="meetingCenter"		column="meeting_center" 	jdbcType="VARCHAR" />	<!-- 중심지 -->
		<result property="meetingName"			column="meeting_name" 		jdbcType="VARCHAR" />	<!-- 모임명 -->
		<result property="titleImg"				column="title_img" 			jdbcType="VARCHAR" />	<!-- 대표이미지 -->
		<result property="meetingDetail"		column="meeting_detail" 	jdbcType="VARCHAR"/>	<!-- 모임설명 -->
		<result property="meetingRule" 			column="meeting_rule" 		jdbcType="VARCHAR" />	<!-- 모임규칙 -->
		<result property="interestName" 		column="interest_name" 		jdbcType="VARCHAR"/>	<!-- 관심사 -->
		<result property="meetingLocation" 		column="meeting_location" 	jdbcType="VARCHAR" />	<!-- 모임장소 -->
		<result property="meetingDate" 			column="meeting_date" 		jdbcType="DATE" />		<!-- 모임날짜 -->
		<result property="meetingDay" 			column="meeting_day" 		jdbcType="VARCHAR" />	<!-- 모임요일 -->
		<result property="meetingTime" 			column="meeting_time" 		jdbcType="VARCHAR" />	<!-- 모임시간 -->
		<result property="snooze" 				column="snooze" 			jdbcType="CHAR" />		<!-- 반복여부 Y:반복 N:한번 -->
		<result property="meetingDues" 			column="meeting_dues" 		jdbcType="VARCHAR" />	<!-- 회비	 -->
		<result property="meetingViews" 		column="meeting_views" 		jdbcType="NUMERIC"/>	<!-- 조회수 -->
		<result property="meetingCondition" 	column="meeting_condition" 	jdbcType="CHAR"/>		<!-- 모임컨디션 DEF:기본 DEL:삭제 BLD:블라인드 FIN:종료  -->
		<result property="shutDownDate" 		column="shut_down_date" 	jdbcType="DATE" />		<!-- 셧다운 시작일 -->
		<result property="meetingCrewLimit" 	column="meeting_crew_limit" jdbcType="NUMERIC" />	<!-- 모임정원 -->
		<result property="interestNo" 			column="interest_no" 		jdbcType="NUMERIC" />	<!-- 관심사 번호 -->
		<result property="crewCondition" 		column="crew_condition" 	jdbcType="VARCHAR" />		<!-- 모임원 상태 APL:신청	YES:수락	OUT:강퇴 -->
		<result property="crewNickName" 		column="crew_nick_name" 	jdbcType="VARCHAR" />	<!-- 닉네임 -->
		<result property="meetingActNo" 		column="meeting_act_no" 	jdbcType="VARCHAR" />	<!-- ACT_NO -->
		<result property="meetingCrewNo" 		column="meeting_Crew_no" 	jdbcType="VARCHAR" />	<!-- CREW_NO -->
		<result property="meetingActCount" 		column="meeting_act_count" 	jdbcType="NUMERIC" />	<!-- 관심사 번호 -->
		<result property="interview" 			column="interview" 			jdbcType="VARCHAR" />
		<result property="interviewTitle" 		column="interview_title" 	jdbcType="VARCHAR" />
	</resultMap>
	
	
	<resultMap id="communitySelectMap" type="com.destiny.service.domain.Community">
		<result property="communityNo" 			column="community_no" 							jdbcType="NUMERIC"/>
		<result property="writerId"				column="community_writer_id" 					jdbcType="VARCHAR" />
		<result property="meetingNo" 			column="meeting_no" 							jdbcType="NUMERIC" />
		<result property="category" 			column="category" 								jdbcType="CHAR" />
		<result property="userGrade"			column="community_user_grade" 					jdbcType="CHAR" />
		<result property="title"				column="community_title" 						jdbcType="VARCHAR" />
		<result property="writerNickName" 		column="community_writer_nick_name" 			jdbcType="VARCHAR" />
		<result property="detail"				column="community_detail" 						jdbcType="VARCHAR" />
		<result property="writeDate"			column="community_write_date" 					jdbcType="DATE" />
		<result property="views"				column="community_views" 						jdbcType="INTEGER" />
		<result property="like"					column="community_like" 						jdbcType="INTEGER" />
		<result property="importRank"			column="import_rank" 							jdbcType="CHAR" />
		<result property="viewCondition"		column="community_view_condition" 				jdbcType="CHAR" />
		<result property="fileName"				column="file_name" 								jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="commentSelectMap" type="com.destiny.service.domain.Comment">
		<result property="commentNo" 			column="comment_no" 					jdbcType="NUMERIC"/>
		<result property="commentComuNo"		column="community_no" 					jdbcType="NUMERIC" />
		<result property="commentWriterId" 		column="comment_writer_id" 				jdbcType="VARCHAR" />
		<result property="commentDetail" 		column="comment_detail" 				jdbcType="VARCHAR" />
		<result property="commentDate"			column="comment_write_date" 			jdbcType="DATE" />
		<result property="targetNo"				column="comment_target_no" 				jdbcType="NUMERIC" />
		<result property="viewCondition" 		column="comment_view_condition" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="chattingSelectMap" type="com.destiny.service.domain.Chatting">
		<result property="chattingNo" 		column="chatting_no" 		jdbcType="NUMERIC" />			
		<result property="manId" 			column="man_id" 			jdbcType="VARCHAR" />
		<result property="womanId" 			column="woman_id" 			jdbcType="VARCHAR" />
		<result property="chattingDate" 	column="chatting_date" 		jdbcType="DATE" />
		<result property="contactMeeting" 	column="contact_meeting" 	jdbcType="VARCHAR" />
	</resultMap>
	
	
	
	
	 <!-- SQL : SELECT LIST -->
	<select  id="getMeetingListByMaster"  parameterType="map"	resultMap="meetingSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT meeting_no, meeting_master_id, meeting_center, meeting_name, title_img,
	  					                    meeting_detail, meeting_rule, interest_name,
	  					                    snooze, meeting_views, meeting_condition, shut_down_date, meeting_crew_limit
											FROM meeting
											<where>
												meeting_master_id = #{userId} AND
												meeting_condition != 'DEL'
											</where>
											 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 	
	 </select>
	 
	 
	 
	 <select  id="getTotalCountByMaster"  parameterType="String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT  meeting_no, meeting_master_id, meeting_center, meeting_name, title_img,
	                    meeting_detail, meeting_rule, interest_name,
	                    snooze, meeting_views, meeting_condition, shut_down_date, meeting_crew_limit
						FROM meeting
						<where>
							meeting_master_id = #{value} AND
							meeting_condition != 'DEL'
						</where>
						 ) countTable						
	 </select>
	 
	 
	 <!-- ////////////////가입된 모임원 리스트 표현용////////////////// -->	 
	 <select  id="getCrewAll" parameterType="int" resultMap="meetingSelectMap">
	 	select u.user_id as meeting_master_id, u.profile_img as master_profile_img, cl.meeting_Crew_no as meeting_Crew_no,
      			u.nick_name as crew_nick_name, cl.role, cl.interview_title as interview_title, cl.interview as interview, 
      			cl.crew_condition as crew_condition
		from meeting_crew_list cl, users u
		where u.user_id = cl.crew_id
		and cl.meeting_no= #{meetingNo}
		order by cl.role desc
	 </select>
	 
	 
	 <update id="updateCrewCondition" parameterType="com.destiny.service.domain.Meeting">
	 	UPDATE meeting_crew_list
	 	<set>
	 		crew_condition = #{crewCondition}
	 	</set>
	 	<where>
	 		crew_id = #{meetingMasterId} 
	 		AND meeting_no = #{meetingNo}
	 	</where>
	 </update>
	 
	 <delete id="delectCrew" parameterType="String">
	 	delete from meeting_crew_list
	 	<where>
	 		crew_id = #{value}
	 	</where>
	 </delete>
	 
	 
	 <select id="getMeetingAct" parameterType="map" resultMap="meetingSelectMap">
		<!-- SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM		(
						 	SELECT act_date as meeting_date, meeting_act_count, act_location as meeting_location, meeting_act_no, act_time as meeting_time
						 	from meeting_act
						 	<where>
						 		meeting_no = #{meetingNo}
						 	</where>
						 	) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} -->
		
		<!--  meetingNo는 act_crew_no임 -->
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM		(
						 	SELECT 
								act_crew_no as meeting_no, meeting_act_no, meeting_crew_no, meeting_act_count, meeting_act_date as meeting_date, meeting_act_time as meeting_time, meeting_act_location as meeting_location 
								FROM meeting_act_crew_list 
						 	<where>
						 		 meeting_act_no = #{meetingNo} and act_crew_id= #{userId}
						 	</where>
						 	ORDER BY meeting_act_count
						 	) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>
	 
	 <select id="getMeetingActAll" parameterType="int" resultMap="meetingSelectMap">
	 	SELECT act_date as meeting_date, meeting_act_count, act_location as meeting_location, meeting_act_no, act_time as meeting_time
	 	from meeting_act
	 	<where>
	 		meeting_no = #{meetingNo}
	 	</where>
	 </select>
	 
	 
	 <select  id="getMeetingActCount"  parameterType="int"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT act_date as meeting_date, meeting_act_count, act_location as meeting_location, meeting_act_no, act_time as meeting_time
					 	from meeting_act
					 	<where>
					 		meeting_no = #{value}
					 	</where>
						 ) countTable						
	 </select>
	 
	 
	 <select id="getActCrew" parameterType="com.destiny.service.domain.Meeting" resultType="String">
	 	SELECT act_crew_id as meeting_master_id
	 	FROM meeting_act_crew_list
	 	<where>
	 		meeting_act_no = #{meetingActNo} and meeting_act_count = #{meetingActCount}
	 	</where>
	 </select>
	 
	 
	 	 <!-- SQL : SELECT LIST -->
	<select  id="getMeetingListByApply"  parameterType="map"	resultMap="meetingSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT m.meeting_no, m.meeting_master_id, m.meeting_center, m.meeting_name, m.title_img,
	  					                    m.meeting_detail, m.meeting_rule, m.interest_name,
	  					                    m.snooze, m.meeting_views, m.meeting_condition, m.shut_down_date, m.meeting_crew_limit
											FROM meeting m, meeting_crew_list mcl
											<where>
												m.meeting_no = mcl.meeting_no AND
												mcl.crew_id IN (#{userId}) AND
												meeting_condition != 'DEL'
											</where>
											 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 	
	 </select>
	 
	 
	 
	 
	 <select  id="getTotalCountByApply"  parameterType="String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT  m.meeting_no, m.meeting_master_id, m.meeting_center, m.meeting_name, m.title_img,
	                    m.meeting_detail, m.meeting_rule, m.interest_name,
	                    m.snooze, m.meeting_views, m.meeting_condition, m.shut_down_date, m.meeting_crew_limit
						FROM meeting m, meeting_crew_list mcl
						<where>
							m.meeting_no = mcl.meeting_no AND
							mcl.crew_id IN (#{userId}) AND
							meeting_condition != 'DEL'
						</where>
						 ) countTable						
	 </select>
	 
	 
	 
	<!-- SQL : SELECT LIST -->
	<select id="getCommunityListByWriter" parameterType="map" resultMap="communitySelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT  comu.community_no, comu.community_writer_id, comu.category, comu.community_user_grade, comu.community_title, comu.community_writer_nick_name, comu.community_detail, comu.community_write_date, comu.community_views, comu.community_like, comu.import_rank, comu.community_view_condition,
	  											up.file_name
											FROM community comu, upload up
											WHERE	comu.community_writer_id = #{userId}
													and comu.community_no = up.community_no 
											ORDER BY comu.community_no desc ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 	
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCountByWriter"  parameterType="String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT comu.community_no, comu.community_writer_id, comu.category, comu.community_user_grade, comu.community_title, comu.community_writer_nick_name, comu.community_detail, comu.community_write_date, comu.community_views, comu.community_like, comu.import_rank, comu.community_view_condition, up.file_name
						FROM community comu, upload up
						<where>
							comu.community_writer_id = #{userId}
							and comu.community_no = up.community_no 
						</where>
						 ) countTable						
	 </select>
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="getCommentListByWriter"  parameterType="map"	resultMap="commentSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT comment_no , community_no , comment_writer_id , comment_detail , comment_write_date, comment_target_no, comment_view_condition
											FROM comments
											WHERE comment_writer_id = #{userId} 
											ORDER BY comment_target_no, comment_no
									 	) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>
	 
	 <!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCountByCommentSwiter"  parameterType="String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT comment_no , community_no , comment_writer_id , comment_detail , comment_write_date, comment_target_no, comment_view_condition
						FROM comments
						WHERE comment_writer_id = #{userId}
					 ) countTable						
	 </select>
	
 	<!-- SQL : SELECT LIST -->
	<select  id="getContactList"  parameterType="map"	resultMap="chattingSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT chatting_no , man_id , woman_id , chatting_date , contact_meeting
											FROM chatting
											<where>
												man_id = #{userId} or woman_id = #{userId}
											</where>
									 	) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>
	 
	 <!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalContact"  parameterType="String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT chatting_no , man_id , woman_id , chatting_date , contact_meeting
			FROM chatting
			<where>
				man_id = #{userId} or woman_id = #{userId}
			</where>
			) countTable						
	 </select>
	 
	 <select id="getCommunityComentCount" parameterType="int"	 resultType="int">
	 	SELECT COUNT(*)
	 	FROM comments
	 	<where>
	 		community_no = #{value}
	 	</where>
	 </select>
	



</mapper>


