<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LetterMapper">

	<resultMap id="letterSelectMap" type="com.destiny.service.domain.Letter">
		<result property="senderId" 			column="sender_id" 			jdbcType="VARCHAR"/>
		<result property="receiverId" 			column="receiver_id" 			jdbcType="VARCHAR"/>
		<result property="sendLetterDate" 		column="send_date" 			jdbcType="DATE"/>
		<result property="getLetterDate" 		column="receive_date" 			jdbcType="DATE"/>
		<result property="letterTitle" 			column="letter_title" 			jdbcType="VARCHAR"/>
		<result property="letterDetail" 		column="letter_detail" 			jdbcType="VARCHAR"/>
		<result property="letterNo" 			column="letter_no" 			jdbcType="NUMERIC"/>
	</resultMap>
	
	<insert id="sendLetter"       parameterType="com.destiny.service.domain.Letter" >
		INSERT
		INTO letter(sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no)
		VALUES (#{senderId}, #{receiverId}, SYSDATE, to_date('2019/01/01 10:48:43', 'YYYY/MM/DD HH24:MI:SS'), #{letterTitle}, #{letterDetail}, seq_letter_no.nextval)
	</insert>
	
	<select id="getLetter" 	 	  parameterType="int"	resultMap="letterSelectMap">
		SELECT sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no
		FROM letter
		<where>
		letter_no = #{no}
		</where>						
	</select>
	
	<update id="updateReceiveDate" parameterType="int" >
		UPDATE letter SET receive_date = SYSDATE
		<where>
		letter_no = #{no}
		</where>	
	</update>
	
	<select  id="getReceiveLetterList"  parameterType="map"	resultMap="letterSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no
											FROM letter
											<where>
											receiver_id = #{Id}
											</where>
											ORDER BY send_date ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 <select  id="getSendLetterList"  parameterType="map"	resultMap="letterSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no
											FROM letter
											<where>
											sender_id = #{Id}
											</where>
											ORDER BY send_date ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	
	<select  id="getReceiveLetterTotalCount"  parameterType="String" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no
						FROM letter
						<where>
						receiver_id = #{Id}
						</where>
			) countTable						
	 </select>
	 
	 <select  id="getSendLetterTotalCount"  parameterType="String" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no
						FROM letter
						<where>
						sender_id = #{Id}
						</where>
			) countTable						
	 </select>
	 
	 <select id="getCountNetReadReceive" parameterType="String" resultType="int">
	 	SELECT COUNT(*)
	 	FROM(	SELECT sender_id, receiver_id, send_date, receive_date, letter_title, letter_detail, letter_no
	 					FROM letter
	 					<where>
	 					receiver_id = #{Id} AND
	 					receive_date = to_date('2019/01/01 10:48:43', 'YYYY/MM/DD HH24:MI:SS')
	 					</where>
	 	) countTable
	 </select>
	 
</mapper>	 